.about {
  padding: 40px 0;
  
  &__title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: #E55604;
  }

  &__top {
    display: flex;

    &-text {
      font-size: 20px;
    }

    &-left {
      width: 50%;
      height: 100%;
      text-align: center;
      margin: auto 0;
    }

    &-right {
      width: 50%;
    }
  }

  &__img-school {
    width: 80%;
    height: 100%;
    border-radius: 10px;
  }

  &__bottom {
    font-size: 20px;
  }
}

@media (max-width: 940px) {
  .about {
    &__title {
      font-size: 24px;
    }

    &__top {  
      &-text {
        font-size: 16px;
      }
    }

    &__bottom {
      font-size: 16px;
    }
  }
}

@media (max-width: 760px) {
  .about {  
    &__top {
      flex-direction: column;

      &-left {
        width: 100%;
      }
  
      &-right {
        width: 100%;
      }
    }

    &__img-school {
      margin-bottom: 30px;
    }
  }
}
